<div>
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <!-- Dashboard -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Profil -->
      <li class="nav-item">
        <a class="nav-link collapsed">
          <i class="bi bi-person-circle"></i>
          <span>Profil</span>
        </a>
      </li>

      <!-- Articles -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/books">
          <i class="bi bi-layout-text-window-reverse"></i><span>Livres</span>
        </a>
      </li>

      <!-- Catégories d'Articles -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/categories">
          <i class="bi bi-folder"></i><span>Catégories</span>
        </a>
      </li>

      <!-- Utilisateurs -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-bs-target="#user-nav"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-people"></i><span>Utilisateurs</span>
        </a>
      </li>

      <!-- Déconnexion -->
      <li class="nav-heading">
        <hr />
      </li>

      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          onclick="return confirm('Ete vous surs ?')"
        >
          <i class="bi bi-box-arrow-right"></i>
          <span>Déconnexion</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
