<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- Profil -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">
        <i class="bi bi-person-circle"></i>
        <span>Profil</span>
      </a>
    </li>

    <!-- Articles -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#blog-nav"
      >
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Articles</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="blog-nav" class="nav-content collapse">
        <li>
          <a routerLink="/posts/create" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="/posts" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Catégories d'Articles -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#category-nav"
      >
        <i class="bi bi-folder"></i>
        <span>Catégories</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="category-nav" class="nav-content collapse">
        <li>
          <a routerLink="/categories/create" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Utilisateurs -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#user-nav"
      >
        <i class="bi bi-people"></i>
        <span>Utilisateurs</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="user-nav" class="nav-content collapse">
        <li>
          <a routerLink="/users" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Séparation et Déconnexion -->
    <li class="nav-heading">
      <hr />
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blank" routerLinkActive="active">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span>Déconnexion</span>
      </a>
    </li>
  </ul>
</aside>
