<ion-content [fullscreen]="true">
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a href="#" class="logo d-flex align-items-center w-auto">
                <img src="assets/icon/favicon.png" alt="Logo" />
                <span class="d-none d-lg-block">LIS MOI</span>
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Connexion à votre compte
                  </h5>
                  <p class="text-center small">
                    Entrez votre email et mot de passe pour vous connecter
                  </p>
                </div>

                <form
                  action=""
                  method="POST"
                  class="row g-3 needs-validation"
                  novalidate
                >
                  <!-- Champ Email -->
                  <div class="col-12">
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"
                        >Email</span
                      >
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="yourEmail"
                        required
                      />
                      <div class="invalid-feedback">
                        Veuillez entrer votre email.
                      </div>
                    </div>
                  </div>

                  <!-- Champ Mot de passe -->
                  <div class="col-12">
                    <label for="yourPassword" class="form-label"
                      >Mot de passe</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="yourPassword"
                      required
                    />
                    <div class="invalid-feedback">
                      Veuillez entrer votre mot de passe.
                    </div>
                  </div>

                  <!-- Se souvenir de moi -->
                  <div class="col-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="remember"
                        value="true"
                        id="rememberMe"
                      />
                      <label class="form-check-label" for="rememberMe"
                        >Se souvenir de moi</label
                      >
                    </div>
                  </div>

                  <!-- Bouton de connexion -->
                  <div class="col-12">
                    <button
                      routerLink="/dashboard"
                      class="btn btn-primary w-100"
                      type="submit"
                    >
                      Se connecter
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</ion-content>
