<ion-content [fullscreen]="true">
  <app-header></app-header>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Ajouter une nouvelle catégorie d'article</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashoard">Accueil</a></li>
          <li class="breadcrumb-item">Categories</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <ion-row>
        <ion-col size="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Liste des catégories</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Table pour afficher les articles -->
              <ion-grid>
                <ion-row>
                  <ion-col size="6"><strong>Nom</strong></ion-col>
                  <ion-col size="6"><strong>Actions</strong></ion-col>
                </ion-row>
                <ion-row *ngFor="let item of [1,2,3,4,5,6,7,8]">
                  <ion-col size="6">Catégorie {{item}} </ion-col>
                  <ion-col size="6">
                    <ion-button fill="clear" shape="round">Modifier</ion-button>
                    <ion-button fill="solid" color="danger">
                      Supprimer
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!-- Fin de la table des articles -->
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <!-- formulaire pour ajouer -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Formulaire d'Ajout</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid fixed>
                <ion-row>
                  <!-- Champ pour le nom de la prestation -->
                  <ion-col size="12">
                    <ion-input
                      type="text"
                      label-placement="stacked"
                      label="Libellle de la catégorie"
                      placeholder="Entrez un nom"
                      fill="outline"
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-button expand="block" shape="round">
                      Ajouter
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </section>
  </main>
  <app-siderbar></app-siderbar>
</ion-content>
